@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error.</h1>
<h2>Ocurrió un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}
